.cspell-base.json
.cspell.json
.gitattributes
.github
.gitignore
.prettierignore
.prettierrc.js
.prettierrc.json
.vscode
*.test.d.ts
*.test.js
dist/**/*.test.d.ts
dist/**/*.test.js
jest.config.json
prettierignore
scripts
src
test-repos
tsconfig-base.json
tsconfig.json